@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.clock__text {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.clock__text-hour,
.clock__text-minutes {
  font-size: var(--biggest-font-size);
  font-weight: 400;
  color: var(--title-color);
  font-family: 'Roboto', sans-serif;
}

.clock__text-seconds {
  font-size: 28px;
  padding-left: 6px;
  padding-top: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.clock__text-ampm {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  font-weight: 400;
  padding-left: 6px;
  padding-top: -6px;
  font-family: 'Roboto', sans-serif;
}

.clock__date {
  text-align: center;
  font-size: 24px;
  font-weight: var(--font-medium);
  padding-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
