.AlarmListItem{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #C6F1E7;
  border-style: solid;
  border-color: #70ACB1;
  border-width: 5px;
  border-radius: 15px;
  padding-top: 20px;
}

.Minkowski {
  padding: 5px;
  margin: 5px;
}

.TimeCardFormat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.TimeDisplay {
  color: #70ACB1;
  font-size: 48px;
  margin-top: -16px;
}

.AMPM {
  color: #70ACB1;
}

.ContactDisplay {
  color: #56606D;
}

.SoundDisplay {
  color: #56606D;
  font-size: larger;
}

.alarm-toggle {
  margin-top: 16px;
  padding: 6px;
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
}