.AlarmListItem{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff9d56;
  border-style: solid;
  border-color: #BB3812;
  border-width: 5px;
  border-radius: 15px;
  color: #EEEEEE;
  padding-top: 20px;
}

.Minkowski {
  padding: 5px;
  margin: 5px;
}

.TimeCardFormat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.TimeDisplay {
  color: #333333;
  font-size: 48px;
  margin-top: -16px;
}

.AMPM {
  color: #333333;
}

.ContactDisplay {
  color: #333333;
}

.SoundDisplay {
  color: #222222;
  font-size: larger;
}