.ContactListItem {
  background-color: #C6F1E7;
  border-color: #70ACB1;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.TimeCardFormat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputBox,
.submit {
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
}

.deleteButton {
  margin-top: 16px;
  padding: 6px;
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
}

::placeholder {
  color: #70ACB1;
}