/* .App {
  background-color: #C6F1E7;
}
h1{
  font-size: 55px;
  color: #313131;
}

h2{
  font-size: 28px;
  color: #56606D;
}
h3{
  font-size: 24px;
  color: #56606D;
}
p{
  font-size: 16px;
  color: #56606D;
} */