* {
  background-color: #97CDD1;
  max-width: 100%;
}

.fade, .modal, .show, .modal-content, .modal-backdrop, .modal-dialog {
  background-color: transparent;
}


.App {
  text-align: center;
  background-color: #97CDD1;

}

.pill.time-pill {
  background: rgb(151,205,209);
  background: radial-gradient(circle, rgba(151,205,209,1) 0%, rgba(238,174,202,1) 100%);
  color: black;
  box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
  width:200px;
  height: 50px;
  font-size:30px;
  font-weight: 300;
  border-radius: 20px;
  margin-bottom: 10px;

}

.title-text {
  font-size: calc(1.325rem + .9vw);
  font-weight: 700;
  font-style:italic;
}
.nav-background {
  background-color: rgb(33, 37, 41);
}

.navbar-toggler-icon {
  background-color: rgb(33, 37, 41);
}

.navbar-brand {
  background-color: rgb(33, 37, 41);
}

.nav-welcome {
  color: #97CDD1;
  padding-top: 0.5em;
}

/* tied to contact form */
 .Form-at {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
} 

/* tied to contact form */
.inputBox {
  height: 35px;
  font-size: 16px;
  border-radius: 6px;
  padding-left: 22px;
  background-color: #97CDD1;
} 


/* AFFECTS BUTTONS WITHOUT CLASSNAMES  */

.submit {
  height: 35px;
  width: 180px;
  font-size: 16px;
  border-radius: 6px;
  align-self: center;
} 

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


:root {
  /*========== Colors ==========*/
  /* --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);  */

  /*========== Font and typography ==========*/

  /* Effects Main Clock */

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  /* --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem; */

  /*========== z index ==========*/
  /* --z-normal: 1;
  --z-tooltip: 10; */
}



/*=============== BASE ===============*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
} */

/* a {
  text-decoration: none;
} */

/*=============== REUSABLE CSS CLASSES ===============*/


/* BELOW IS USEFUL FOR WID */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
} */

/* .grid {
  display: grid;
} */

/* .wrapper {
  padding: 20px;
} */


/*=============== MEDIA QUERIES ===============*/
/* For large devices */



