/* .deleteButton {
  margin-top: 16px;
  padding: 6px;
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
} */

/* .setAlarm-btn {
  width: 320px;
  margin-top: 30px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--first-color);
  cursor: pointer;
} */

/* .wrapper-option select {
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  border: #70ACB1;
  outline: #70ACB1;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: #97CDD1 !important;
  color: #313131;
} */

.create-btn {
  --bs-btn-color: pink!important;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108,117,125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}