/* .deleteButton {
  margin-top: 16px;
  padding: 6px;
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
} */

/* .setAlarm-btn {
  width: 320px;
  margin-top: 30px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--first-color);
  cursor: pointer;
} */

/* .wrapper-option select {
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  border: #70ACB1;
  outline: #70ACB1;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: #97CDD1 !important;
  color: #313131;
} */