.card {
  display: flex ;
  flex-direction: column ;
  align-content: space-between;
  border-style: solid ;
  border-width: 3px !important;
  border-radius: 15px !important;
  border-color: #70ACB1 !important;
  background-color: #C6F1E7 !important;
  padding: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 554px;
  max-width: 100%;
}

.card-sound {
  display: flex ;
  flex-direction: column ;
  align-content: space-between;
  border-style: solid ;
  border-width: 3px !important;
  border-radius: 15px !important;
  border-color: #70ACB1 !important;
  background-color: #C6F1E7 !important;
  padding: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 440px !important;
}

.my-sound-alignment {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
}

.AddContactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-row {
  background-color: #C6F1E7;
}

.card-background {
  background-color: #C6F1E7;
}

.create-butt {
  margin-top: 16px;
  margin-bottom: 16px;
}

.inactive-background {
  background-color: #70ACB1;
}

.button-row {
  flex-direction: row;
}

.card-row {
  justify-content: flex-end;
  padding: 0.3em;
}

.transparent {
  background-color: transparent;
}

.alarm-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  background: #97CDD1;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}

input[type="checkbox"]:checked {
  background: #56606D;
}