.Contacts {
  background-color: #97CDD1;
}

.ContactListItem {
  background-color: #C6F1E7;
  border-color: #70ACB1;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  width: 440px;
}

.ContactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* 
.TimeCardFormat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.inputBox {
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #313131;
  width: 380px;
  margin-top: 8px;
  align-self: center;
}

.submit {
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
  margin-bottom: 30px;

}

.deleteButton {
  padding: 6px;
  border-color: #70ACB1;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  background-color: #C6F1E7;
  color: #70ACB1;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

::placeholder {
  color: #70ACB1;
}