/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.clock__bg {
  display:flex;
  flex-direction: column;
  background-color: transparent;
  color: #56606D!important;
  font-size: 100%;
}

.transparent {
  background-color: transparent;
}

.clock__am-pm {
  color: #56606D;
  height: 100%;
  font-size: xx-large;
}


.clock__text {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.clock__text-hour,
.clock__text-minutes {
  font-size: var(--biggest-font-size);
  font-weight: 400;
  color: #56606D;
  font-family: 'Roboto', sans-serif;
}

.clock__text-seconds {
  font-size: 1em;
  padding-left: 6px;
  padding-top: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.clock__text-ampm {
  font-size: var(--biggest-font-size);
  color: #56606D;
  font-weight: 400;
  padding-left: 6px;
  padding-top: -6px;
  font-family: 'Roboto', sans-serif;
}

.clock__date {
  text-align: center;
  font-size: 24px;
  font-weight: var(--font-medium);
  padding-bottom: 12px;
  padding-top: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style:italic;
  background-color: transparent;
  
}

.card {
  display: flex ;
  flex-direction: column ;
  border-style: solid ;
  border-width: 3px !important;
  border-radius: 20px !important;
  border-color: #70ACB1 !important;
  background-color: #C6F1E7 !important;
  padding: 5px 5px 5px 5px;
 
}


.clock {
  &-day {
    &:before {
      content: var(--timer-day);
    }
  }
  &-hours {
    &:before {
      content: var(--timer-hours);
    }
  }
  &-minutes {
    &:before {
      content: var(--timer-minutes);
    }
  }
  &-seconds {
    &:before {
      content: var(--timer-seconds);
    }
  }
}

// body {
//   background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
//   font-family: 'Montserrat', 'sans-serif';
//   min-height: 100vh; 
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.clock {
  &-container {
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 30px;
    color:eeaeca;
    background-color: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(151,205,209,1) 100%);
    border-radius: 20px;
    border-color:#56606D;
    border-width: medium;
    padding: 20px 20px;
    box-shadow: 1px 1px 5px rgba(255,255,255,.15), 0 15px 90px 30px rgba(0,0,0,.25);
    display: flex;
    justify-content: center;
    width: 560px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  &-col {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    // min-width: 90px;
    max-width: min-content;
    position: relative;
    &:not(:last-child):before,
    &:not(:last-child):after{
      content: "";
      background-color: #56606D;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      display: flex;
      position: absolute;
      right: -42px;
    }
    &:not(:last-child):before {
      top: 35%;
    }
    &:not(:last-child):after {
      top: 50%;
    }
  }
  &-timer {
    &:before {
      color: #56606D;
      font-size: 4.2rem;
      text-transform: uppercase;
    }
  }
  &-label {
    color: rgba(255,255,255,.35);
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 10px;
  }
}

@media (max-width: 3px) {
  .clock-container {
  flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .clock-col {
    & + & {
      margin-top: 20px;
    }
    &:before,
    &:after {
      display: none!important;
    }
  }
}