/* .navHeader {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px 10%;
  background-color: #70ACB1;
}

.navButton {
  margin: 0px 10px 0px 10px;
  padding: 20px 0px 20px 0px;
  display: inline;
  font-size: 20px;
  color: #F0FFF3;
  font-weight: 500;
}

.navButton:hover {
  background-image: linear-gradient(#70ACB1
  , #97CDD1, #70ACB1);
}

.navLogout {
  color: #F0FFF3;
  font-weight: 500;
  font-size: 20px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
} */

/* .nav-sticky {
  position: sticky !important;
  top: 0px;
} */

.navbar-collapse {
  text-align: right;
  justify-content: flex-end;
}

.Name-Space {
  margin-left: 15px;
  margin-right: 15px;
}

.Button-Spacing {
  margin-left: 18px;
  margin-bottom: 10px;
}

.Nav-Butts {
  cursor: pointer;
  color: #F0FFF3;
  text-align: right;
}

.Nav-Butts:after {
  display:block;
  content: "";
  color: #F0FFF3;
  border-bottom: solid 1px #F0FFF3;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.Nav-Butts:hover:after {
  transform: scaleX(1);
}

.logout-button {
  display: flex;
  align-self: end;
  max-width: 6em;
}