.SoundFormat {
  display: flex;
  flex-direction: column;
  width: 440px;
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.SoundOptions {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #C6F1E7;
}

.SaveSound {
  margin-right: 10px;
  border-color: #70ACB1;
  border-width: 2px;
  border-style: solid;
  color: #70ACB1;
}

.AbandonSound{
  margin-left: 10px;
  border-color: #70ACB1;
  border-width: 2px;
  border-style: solid;
  color: #70ACB1;
}